{% block content %}
    <div class="container">
        <div class="table-wrapper">
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Market-Cap</th>
                        <th>State</th>
                        <th>Last Update</th>
                        <th>Price</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Ejemplo de datos para mostrar el diseño -->
                    {% for crypto in crypto_list %}
                    <tr>
                        <td><span class="rank">{{ forloop.counter }}</span></td>
                        <td>
                            <span><img class="logo-crypto" src="{{ crypto.logo }}" alt="logo-{{ crypto.name }}"></span>
                            <span class="crypto-name">{{ crypto.name }}</span>
                            <span class="crypto-symbol">{{ crypto.symbol }}</span>
                        </td>
                        <td class="market-cap">${{ crypto.crypto_price_set.last.market_cap }}</td>
                        <td><span class="deprecated {{ crypto.deprecated|yesno:'true,false' }}">{{ crypto.deprecated|yesno:'Sí,No' }}</span></td>
                        <td class="last-update">{{ crypto.crypto_price_set.last.date }}</td>
                        <td class="price">${{ crypto.crypto_price_set.last.price }}</td>
                        <td>
                            <a href="" class="table-button table-shoping"><i class="fa-solid fa-cart-shopping"></i></a>
                            <a href="" class="table-button table-view"><i class="fa-solid fa-eye"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
